<script src="/js/jquery-3.1.1.js"></script>

<link rel="stylesheet" href="/css/bootstrap.css">

<script src="/js/bootstrap.js"></script>

<link rel="stylesheet" type="text/css"
      href="https://fonts.googleapis.com/css?family=Montserrat">
<style>
  body {
    font-family: 'Montserrat', serif;
  }
</style>

<div class="jumbotron">
  <h1 style="font-family:Montserrat;" class="display-3">Eden's Portfolio</h1>
</div>
<nav class="navbar navbar-inverse bg-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">About<span class="sr-only">(current)</span></a></li>
        <li><a href="#">Resume</a></li><li><a href="#">Contact</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Project Types <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/views/riverside">Riverside</a></li>
            <li><a href="/views/Fauber">Fauber</a></li>
            <li><a href="/views/Float_Sixty">Float Sixty</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Others</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Other Projects</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="Search" class="btn btn-success">Search</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="">
      <img src="http://150northriverside.com/wp-content/uploads/slide-tower-southeast-v2.jpg" style="width:642px;height:420px;"alt="...">
      <div class="caption">
        <h3>Hospitality</h3>
        <p>Tote bag shabby chic activated charcoal, ramps stumptown organic salvia. Tousled mustache kale chips, pug woke humblebrag vexillologist. Waistcoat raw denim air plant, synth occupy thundercats craft beer blog roof party biodiesel ethical listicle. Mumblecore activated charcoal bicycle rights edison bulb pok pok. Farm-to-table beard subway tile hella blue bottle air plant, scenester stumptown. Pinterest knausgaard letterpress salvia iceland four loko, venmo +1 chartreuse. Tousled fap ennui fingerstache leggings small batch.</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="">
      <img src="http://newschicago.net/wp-content/uploads/sites/28/2015/12/attachment1.png.jpeg" style="width:642px;height:420px;"alt="...">
      <div class="caption">
        <h3>Commercial</h3>
        <p>Tote bag shabby chic activated charcoal, ramps stumptown organic salvia. Tousled mustache kale chips, pug woke humblebrag vexillologist. Waistcoat raw denim air plant, synth occupy thundercats craft beer blog roof party biodiesel ethical listicle. Mumblecore activated charcoal bicycle rights edison bulb pok pok. Farm-to-table beard subway tile hella blue bottle air plant, scenester stumptown. Pinterest knausgaard letterpress salvia iceland four loko, venmo +1 chartreuse. Tousled fap ennui fingerstache leggings small batch.</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="">
      <img src="http://www.statedesign.com/advertisers/KDH-Residential-Design/photos/kdh-residential-design-charlotte-architecture-residential-designers-contemporary-exterior-6.jpg" style="width:642px;height:420px;"alt="...">
      <div class="caption">
        <h3>Residential</h3>
        <p>Tote bag shabby chic activated charcoal, ramps stumptown organic salvia. Tousled mustache kale chips, pug woke humblebrag vexillologist. Waistcoat raw denim air plant, synth occupy thundercats craft beer blog roof party biodiesel ethical listicle. Mumblecore activated charcoal bicycle rights edison bulb pok pok. Farm-to-table beard subway tile hella blue bottle air plant, scenester stumptown. Pinterest knausgaard letterpress salvia iceland four loko, venmo +1 chartreuse. Tousled fap ennui fingerstache leggings small batch.</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>
